
<div id="main-outer-box">

<div id="my-header">
  <a href="{{path-to-index}}">{{project-name}}</a>
</div>

<div id="trunk-box">

<div id="nav-box">
{{nav-box-content}}
</div>

<div id="article-box">

<div id="header-nav-bar">
{{nav-bar-content}}
</div>

<div id="article-content">
