
body {
    color: #222;
    line-height: 1.5;
    font-family: "Clear Sans", sans-serif;
    background-color: #fff;
}

#main-outer-box {
    /* Contains all other divs for the page. */
}

#my-header {
    font-weight: bold;
    font-size: large;
    padding: 4px 10px 10px 10px;
}

#my-header a {
    text-decoration: none;
}

#trunk-box {
    /* ... */
}

#nav-box {
    float: left;
    width: 280px;
    padding: 10px;
    font-size: small;
    overflow: auto;
}

#nav-box ul {
    padding-left: 1em;
}

#article-box {
    margin-left: 320px;
    width: 800px;
}

#header-nav-bar, #footer-nav-bar {
    font-size: small;
    display: flex;
}

.nav-bar-push {
    margin-left: auto;
}

#header-nav-bar {
    padding: 6px 6px 8px 10px;
    border-bottom: 1px solid #ddd;
}

#article-content {
    /*padding: 20px;*/
}

/* Pandoc automatically puts title, subtitle, author, and date
   into a header elem at the top of the page. */
header .author { display: none; }
header .date   { display: none; }

/* Pandoc's doc-specific ToC. */
nav#TOC {
    background-color: #e5efdf;
    border: 1px solid #cedec4;
}

#footer-nav-bar {
    padding: 6px 6px 10px 10px;
    border-top: 1px solid #ddd;
}

caption {
    font-style: italic;
    font-size: small;
    color: #555;
}

a:link {
    color: #3A4089;
}

a:visited {
    color: #875098;
}

table {
    background-color: #eee;
    padding-left: 2px;
    border: 2px solid #d4d4d4;
    border-collapse: collapse;
}

th {
    background-color: #d4d4d4;
    padding-right: 4px;
}

tr, td, th {
    border: 2px solid #d4d4d4;
    padding-left: 4px;
    padding-right: 4px;
}

dt {
    font-weight: bold;
}

code {
    background-color: #eee;
}

pre {
    background-color: #eee;
    border: 1px solid #ddd;
    padding-left: 6px;
    padding-right: 2px;
    padding-bottom: 5px;
    padding-top: 5px;
}

blockquote {
    background-color: #d8deea;
    border: 1px solid #c6d1e7;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 16px;
    padding-right: 16px;
}

blockquote code, blockquote pre {
    background-color: #cad2e4;
    border-style: none;
}

#my-footer {
    clear: both;
    padding: 10px;
    font-style: italic;
    font-size: x-small;
}

h1, h2, h3, h4, h5, h6 {
    color: #567EB5;
}

h3, h5 {
    font-style: italic;
}
